# <b><center>PANDAS</center></b>
* Library for Data Analsis
* Extremely powerful table (DataFrame) system built off of NumPy
* What can be done using Pandas?
    * Tools for reading and writing data between many formats.
    * Intelligently gab data based on indexing, logic, subsetting, and more.
    * Handle missing data.
    * Adjust & restructure data

## <b>SERIES<b>

* A series is a data structure in Pandas that holds an array of information along with a named index
* the named index differentiates this from a simple NumPy array

In [1]:
import numpy as mp

In [2]:
import pandas as pd

In [3]:
myindex = ['USA', 'Canada', 'Mexico']

In [4]:
mydata = [1776, 1867, 1821]

In [5]:
myser = pd.Series(data = mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [6]:
myser_new = pd.Series(data = mydata, index = myindex)
# myser_new = pd.Series(mydata, myindex) 
# data comes first and then index
myser_new

USA       1776
Canada    1867
Mexico    1821
dtype: int64

in above code snippet, myser_new returns mydata as index, but the original numeric index is still intact

In [7]:
myser_new['USA']

1776

In [8]:
myser_new[0]

1776

In [9]:
# Passing a dictionary as an argument to a Pandas Series

ages = {"Sam":21, 'Michael': 26, 'John': 19}
pd.Series(ages) # Pandas, by Default consides Key as the index

Sam        21
Michael    26
John       19
dtype: int64

In [10]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [11]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [12]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [13]:
sales_q1.keys() # returns index objects

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

##### __Operations among Series__

In [14]:
sales_q1 *2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [15]:
sales_q1 + sales_q2 # since Brazil and Japan are not present in both th

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [16]:
sales_q1.add(sales_q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64